{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <div class="card p-4">
      <h2>{{ local.name }}</h2>
      <p>Endereço: {{ local.address }}, {{ local.number_address }}</p>
      <p>Bairro: {{ local.district }}</p>
       {% if not barbers %}
           <p class="text">Nenhum barbeiro cadastrado ainda.</p>
                {% else %}
                  <h4>Barbeiros cadastrados:</h4>
                  {% for barber in barbers %}
                        <ul>
                          <li><p>Nome: {{ barber.nome }} {{ barber.sobrenome }}</p></li>
                              <ul>
                                <li>Serviços: {{ barber.servico }}</li>
                                <li>Preço: R$ {{ '%.2f' | format(barber.valor) }}</li>
                                <li>Duração: {{ barber.duracao }} min</li>
                              </ul>
                        </ul>
                  {% endfor %}
       {% endif %}
    <a href="{{ url_for('local.view_local') }}" class="btn btn-secondary mt-3">Voltar</a>
  </div>
</div>
{% endblock %}
